.adminlayout{
    padding: 20px;
} 
.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.admin-activity {
    text-align: center;
    padding-bottom: 15%;
}

.adminlinks-design {
    text-decoration: none;
    padding: 10px 25px;
    font-size: 25px;

    background-color: black;
    color: white;
}

.adminlinks-design:hover {
    background-color: #f4f4f4;
    color: #6a6a6a;
    transition: 0.5s;
}